.header-color{
  color: aquamarine;
}


.my-image {
  border-radius: 50%;
  margin-left: 7em;
  margin-top: 0%;
  width: 80%;
  padding-bottom: 0em;
  opacity: .6;
}

.nav-bar {
  
  height: 10%;
  color: violet;
  font-weight: bolder;
}

.info {
  margin-top: 9em;
  margin-left: 12em;
  background-color: rgb(169, 173, 173);
  width: 172%;
  height: 43%;
  opacity: .8;
  
}

.demo-grid-ruler h1 {
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
.demo-grid-ruler p {
  font-size: medium;
  font-weight: bolder;
  font-style: italic;
  
}

.profiles {
  width: 2%;
  display: flex;
  margin-left: 27%;
}

.demo-grid-ruler i {
  padding: 2%;
  padding-left: 3em;
  padding-top: 1px;
  
}
.body {
  background-image: url('https://media.itpro.co.uk/image/upload/t_content-image-desktop@1/v1570815829/itpro/2018/01/how_to_wipe_a_laptop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-info {
  margin: 50em;
  margin-top: 55em;
  border-radius: 50%;
  border-color: brown;
}
.contact i {
  color: rgba(43, 41, 167, 0.699);
  font-size: 3em;
  padding: 28px;
  padding-top: 5px;

}
.email i {
  color: rgb(80, 187, 38);
  font-size: 3em;
  padding: 28px;
  padding-top: 5px;
}
.Title{
  font-weight: bolder;
}
.address i {
  color: rgb(199, 46, 97);
  font-size: 3em;
  padding: 28px;
  padding-top: 5px;
}
.link-dir {
  margin-top: 1em;
  margin-bottom: 20em;
  background:brown;
  opacity: 1;
}
.about-me {
  margin-top: 13em;margin-left: 19em;padding-top: 0.5em;
  background-color: rgb(72, 124, 122);
  width: 75%;
  height: 35%;
  opacity: .9;
  border-bottom: 90px;
  color: white;
  font-family: 'Amatic SC', cursive;
  font-style: italic;
}


.flip-card {
  background-color: transparent;
  width: 470;
  height: 300px;
  opacity: .8;
  margin-top: 13em;
  margin-bottom: 1em;
  margin-left: 17em;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: rgb(63, 76, 78);
}

.flip-card-back {
  background-color: rgb(63, 76, 78);
  color: white;
  transform: rotateY(180deg);
}

* {box-sizing:border-box}
.container{
  width: 50%;
  margin: 0 auto;
}
@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}

.bar{
  background-color: #EEE;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.bar::before{
  content:  attr(data-skill);
  background-color: #f3b0ff;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.front::before{
  background-color: yellowgreen;
}
.bar.back::before{
  background-color: grey;
}

.bar.learning::before{
  width: calc(20% - 10px);
}
.bar.basic::before{
  width: calc(40% - 10px);
}
.bar.intermediate::before{
  width: calc(60% - 10px);
}
.bar.advanced::before{
  width: calc(80% - 10px);
}
.bar.expert::before{
  width: calc(100% - 10px);
}
.container {
  width: 72%; 
  margin: 15em;
  background-color: #ddd; 
}


.zoom {
  background-color: transparent;
  transition: transform .5s; /* Animation */
  width: auto;
  margin: auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

.skills-bar {
  margin-left: 2em;
  margin-top: 1em;
  margin-bottom: 10em;
  width: 790px;
}

.buttton {
  border-radius: 50%;
  border-color: yellow;
  border: yellow;

}
