.project {
  background-image: url'(https://cdn.24.co.za/files/Cms/General/d/6043/bd1b36d3e59b4a02a8391508ba5193a1.jpg)';
  background-repeat: no-repeat;
  background-size: cover;
}
.header-color{
  color: aquamarine;
}

.containerI {
  position: relative;
  width: 50%;
  max-height: center
}

.image {
  display: block;
  width: 100%;
  max-height: 400px;
  border-radius: 20px
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #4d5557;
  opacity: .8;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  border-radius: 20px;
}

.containerI:hover .overlay {
  width: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.my-image {
  border-radius: 50%;
  margin-left: 7em;
  margin-top: 0%;
  width: 80%;
  padding-bottom: 0em;
  opacity: .6;
}

.nav-bar {
  
  height: 10%;
  color: rgb(138, 128, 138);
  font-weight: bolder;
}

.info {
  margin-top: 9em;
  margin-left: 12em;
  background-color: rgb(169, 173, 173);
  width: 172%;
  height: 43%;
  opacity: .8;
  
}

.demo-grid-ruler h1 {
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
.demo-grid-ruler p {
  font-size: medium;
  font-weight: bolder;
}

.profiles {
  width: 2%;
  display: flex;
  margin-left: 27%;
}

.demo-grid-ruler i {
  padding: 2%;
  padding-left: 3em;
  padding-top: 1px;
  
}
html {
  scroll-behavior: smooth;
}
.backgroundI {
  background-image: url('./components/layout/bckimg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: relative;
  scroll-behavior: smooth;
  box-shadow: #4d5557;

}

.contact-info {
  margin: 50em;
  margin-top: 55em;
  border-radius: 50%;
  border-color: brown;
}
.contact i {
  color: rgba(43, 41, 167, 0.699);
  font-size: 3em;
  padding: 28px;
  padding-top: 5px;

}
.email i {
  color: rgb(80, 187, 38);
  font-size: 3em;
  padding: 28px;
  padding-top: 5px;
}
.Title{
  font-weight: bolder;
}
.address i {
  color: rgb(199, 46, 97);
  font-size: 3em;
  padding: 28px;
  padding-top: 5px;
}
.link-dir {
  margin-top: 1em;
  margin-bottom: 20em;
  background:brown;
  opacity: 1;
}
.about-me {
  margin-top: 13em;margin-left: 19em;padding-top: 0.5em;
  background-color: rgb(72, 124, 122);
  width: 75%;
  height: 35%;
  opacity: .9;
  border-bottom: 90px;
  color: white;
  font-family: 'Amatic SC', cursive;
  font-style: italic;
}


.flip-card {
  background-color: transparent;
  width: 470;
  height: 300px;
  margin-top: 13em;
  margin-bottom: 1em;
  margin-left: 17em;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: rgb(63, 76, 78);
}

.flip-card-back {
  background-color: rgb(63, 76, 78);
  color: white;
  transform: rotateY(180deg);
}
.fa fa-arrow-circle-down {
  width: 90%;
}
.navbutton{
  margin-top: 13em;
  height: 240px;
  text-align: center;
  width: 100%
}
.navbutton a {

  text-align: center;
  padding: 12px;
  color: white;
  font-size: 17px;
}


* {box-sizing:border-box}
.container{
  width: 100%;
  margin: 0 auto;
  justify-content: flex-end;
}
@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}

.bar{
  background-color: #EEE;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.bar::before{
  content:  attr(data-skill);
  background-color: #f3b0ff;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.front::before{
  background-color: yellowgreen;
}
.bar.back::before{
  background-color: grey;
}
a {
  text-decoration: none;
}

.-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 216px;
  height: 35px;
  text-align: center;
  border-radius: 12px;
}

.-btn:hover {
  opacity: .8;
}

.-bg {
  background: grey;
}

.-txt {
  color: #fff;
}

.-xs {
  font-size: 12px;
}
.bar.learning::before{
  width: calc(30% - 10px);
}
.bar.basic::before{
  width: calc(40% - 10px);
}
.bar.intermediate::before{
  width: calc(60% - 10px);
}
.bar.advanced::before{
  width: calc(95% - 10px);
}
.bar.js::before{
  width: calc(90% - 10px);
}
.bar.expert::before{
  width: calc(100% - 10px);
}

.title {
  color: white;
}

.zoom {
  background-color: transparent;
  transition: transform .5s; /* Animation */
  width: auto;
  margin: auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
.animate {
  background-color: transparent;
  transition: transform .5s; /* Animation */
}
.animate:hover {
  transform: scale(1.5); /* (150% animate - Note: if the animate is too large, it will go outside of the viewport) */
}
.animate:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

.skills-bar {
  margin-left: 2em;
  margin-top: 1em;
  margin-bottom: 10em;
  width: 790px;
}

.buttton {
  border-radius: 50%;
  border-color: yellow;
  border: yellow;

}
.navbar-nav {
  width: 100%;
  height: 90px;
  opacity: .8;
  overflow: auto;
  position: fixed;
  float: right;
}

/* Navbar links */
.navbar a {
  float: left;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: crimson;
}

.active {
  background-color: #4CAF50;
}
